
.card-container{
    background: url('../../assets/wave.svg') bottom no-repeat ;
    background-color: #231E39;
    font-weight: 100;
    font-size: larger;
    color: #B3B8CD;
    display: flex;
    width:fit-content;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.65);
    align-self: center;
    justify-self: center;
}

.left{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    border: 2px solid #B3B8CD;
    border-radius: 50%;
    padding: 7px;
}

.right {
    padding: 20px;
}

.right h5{
        font-weight: 300;
}