.navbar-container {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.0rem;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(2px);
     top: 50%;
     transform: translatey(-50%);
    right: 30px; 

        
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: rgb(26, 26, 26,.8);
    color: #ffffff;
}

@media screen and (max-width:600px) {
     .navbar-container{ 
        flex-direction: row;
        top: auto;
        bottom:0px;
        transform:none;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 0;
        right: auto;
        left:50%;
        transform: translatex(-50%);

    }
        
}