.App {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#tsparticles {
  z-index: -1;
  position: absolute;
}

.loading-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-container h2 {
  color: gray;
}
